.home {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}

	&--loaded {
		.loading {
			opacity: 0;
		}
	}
}

.content-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: $font-serif;
	text-align: center;
	font-size: 1.25rem;

	.description {
		line-height: 160%;
		text-transform: uppercase;
		margin: 6rem 0 11rem;
		max-width: 915px;
		font-weight: 500;
		letter-spacing: 3px;
		color: #4a4345;
	}

	@media (max-width: 768px) {
		.description {
			font-size: 1rem;
			width: 90%;
			line-height: 140%;
			margin: 3rem 0 6rem;
		}
		svg {
			width: 90%;
		}
	}
}

#start {
	z-index: 1;
	padding: 20px 2rem;
	position: relative;

	@media (max-width: 768px) {
		padding: 17px 1.25rem;
	}

	svg {
		z-index: -1;
		position: absolute;
		inset: 0;
		overflow: visible;
		width: 100%;
	}

	path {
		transition: all 0.5s ease-in-out;
		transform-origin: center;
	}

	&:hover {
		path:nth-of-type(2) {
			transform: scale(1.04);
			opacity: 0;
		}
	}
}
